script(src="/bower/angular/angular.js")
script(src="/bower/angular-route/angular-route.js")
script(src="/bower/angular-translate/angular-translate.js")
script(src="/bower/angular-translate-loader-static-files/angular-translate-loader-static-files.js")

script(src="/build/js/build.js")
